.Board_detail {
	width: 550px;
	height: 700px;
	margin: auto;
	margin-bottom: 50px;
	margin-top: 100px;
	border-bottom: ridge;
}

.Board_reply {
	width: 700px;
	height: 100%;
	margin: auto;
	margin-bottom: 100px;
}

.fa-sign-in-alt {
	padding-left: 8px;
}

.fa-users {
	padding-left: 14px;
}

.fa-sign-out-alt {
	padding-left: 11px;
}

.fa-shopping-cart {
	padding-left: 3.5px;
}

.fa-money-check-alt {
	padding-left: 7px;
}

@media screen and (min-width: 900px) {
	.Board_detail {
		width: 900px;
	}
	.Board_reply {
		width: 500px;
	}
	.Board_replytext {
		width: 500px;
		height: 50px;
	}
	.Update_button {
		width: 1250px;
	}
}

hr.top_BoardDetail {
	border-bottom: 3px;
}

.Board_title {
	text-align: center;
}

.Board_Hit {
	display: grid;
	text-align: initial;
	height: 70px;
}

.Board_content {
	display: flex;
}

.reply {
	margin-top: 12px;
	height: 41px;
}

.bContent {
	width: 430px;
	height: 35px;
}