table.Board {
	border-collapse: collapse;
	border-top: 1px solid #333;
	border: 1px solid #d7d5d5;
	width: 100%;
	margin-bottom: 20px;
	margin: auto;
	color: #999;
	font-weight: normal;
	font-size: 11px;
}
.Board_Insert_btn {
	border-radius: 5px;
	background-color: #263343;
	color: white;
	border: 0;
	margin-left: -32px;
	width: 60px;
	height: 25px;
}
table.Board th {
	background-color: #263343;
	color: white;
	padding: 10px;
}

.Board_Title {
	padding-bottom: 50px;
	padding-top: 50px;
	text-align: center;
}

@media screen and (min-width: 900px) {
	table.Board {
		width: 900px;
	}
}

.fa-sign-in-alt {
	padding-left: 8px;
}

.fa-users {
	padding-left: 14px;
}

.fa-sign-out-alt {
	padding-left: 11px;
}

.fa-shopping-cart {
	padding-left: 3.5px;
}

.fa-money-check-alt {
	padding-left: 7px;
}

.Board_select th, td {
	border-bottom: 1pxsolid #d7d5d5;
	text-align: center;
}

.Board_select {
	height: 40px;
	list-style: none;
	padding-left: 0;
}

.Board_select a {
	color: #511;
	text-decoration: none;
}

.Board_btn:hover {
	background-color: #F29548;
	border-radius: 5px;
}

a{
	text-decoration: none;
	font-size: 11px;
    color: #555;
}
.PageNumber {
	display: flex;
	place-content: center;
	padding-left: 0;
	margin-bottom: 150px;
}

.PageNumber li:hover {
	background-color: #d49466;
	border-radius: 8px;
}
ul li {
	list-style: none;
	padding: 8px 15px;
}